= form_for(@group) do |f|
  - if @group.errors.any?
    #error_explanation
      %h2
        = pluralize(@group.errors.count, "error")
        prohibited this group from being saved:
      %ul
        - @group.errors.full_messages.each do |message|
          %li= message

  .field.buffer.thrice
    = f.label :title
    .wide-text
      = f.text_field :title

  .field.buffer.thrice
    = f.label :description
    .wide-text
      = f.text_area :description

  .field.buffer.thrice
    = recaptcha_tags

  .actions.buffer.thrice
    = f.hidden_field :child_group_id
    = f.hidden_field :parent_group_id
    = f.submit 'Save', class: 'btn btn-default'
    = link_to 'Cancel', root_path, class: 'btn btn-default'
