= form_for(@board) do |f|
  - if @board.errors.any?
    #error_explanation
      %h2
        = pluralize(@board.errors.count, "error")
        prohibited this board from being saved:
      %ul
        - @board.errors.full_messages.each do |message|
          %li= message

  .field.buffer.twice
    = f.hidden_field :group_id

    = f.label :password, 'Please set a password for this retrospective board:'
    .wide-text
      = f.text_field :password, class: 'center', autofocus: true


  .field.buffer.thrice
    = f.label :name, 'Please provide a name for this retrospective board:'
    .wide-text
      = f.text_field :name, class: 'center'

  .field.buffer.thrice
    = f.label :duration, 'How many hours do you want to keep this open for?'
    %br
      = f.number_field :duration, class: 'center'


  .advanced
    .field.buffer.thrice
      = f.label :good_column_name, 'Good Column Name'
      .wide-text
        = f.text_field :good_column_name, class: 'center'

    .field.buffer
      = f.label :good_column_description, 'Good Column Description'
      .wide-text
        = f.text_field :good_column_description, class: 'center'

    .field.buffer.thrice
      = f.label :meh_column_name, 'Meh Column Name'
      .wide-text
        = f.text_field :meh_column_name, class: 'center'

    .field.buffer
      = f.label :meh_column_description, 'Meh Column Description'
      .wide-text
        = f.text_field :meh_column_description, class: 'center'

    .field.buffer.thrice
      = f.label :bad_column_name, 'Bad Column Name'
      .wide-text
        = f.text_field :bad_column_name, class: 'center'

    .field.buffer
      = f.label :bad_column_description, 'Bad Column Description'
      .wide-text
        = f.text_field :bad_column_description, class: 'center'

    .field.buffer.thrice
      = recaptcha_tags

  .actions.buffer.thrice
    = f.submit 'Save', class: 'btn btn-default'
