.row
  .col-sm-12.center
    %h3 Password
      
.row
  .col-sm-12.center
    = form_for(board_password_path(@board)) do |f|
      .field.buffer.twice
        - if flash[:alert]
          %p.red= flash[:alert] 
          
        = label_tag :password, 'Please provide the password for this board:'
        .wide-text
          = text_field_tag :password, '', class: 'center', autofocus: true

      .actions.buffer.thrice
        = f.submit 'Submit', class: 'btn btn-default'
