.row.buffer
  .col-sm-12.col-md-6.center
    %h3= @board.name
  .col-sm-12.col-md-6.center
    .buffer
      This retrospective will close in:
      .countdown{data: {time: @board.close_at}} &nbsp;

.row.buffer.thrice
  - ['good', 'meh', 'bad'].each do |column_grouping|
    - column_name = @board["#{column_grouping}_column_name"]
    
    .column.col-sm-12.col-md-4{class: column_grouping}
      .row
        .col-sm-12
          %h4.title= column_name
    
      .row.buffer
        .col-sm-12.center
          = link_to('Add Item', new_board_item_path(@board, column_name: column_name), class: "btn btn-default #{column_grouping}-grad")
      .row
        .col-sm-12    
          - @board.items.recent.for_column(column_name).each do |item|
            .row
              .col-sm-12.buffer.twice   
                .item{class: "#{column_grouping}-grad"}
                  %p.center= link_to(item.title, board_item_path(@board, item))
                  .row.small.center
                    .col-sm-4    
                      - if item.comments.length <= 0
                        = link_to('Add Comment', new_board_item_comment_path(@board, item))
                      - else                           
                        = link_to(pluralize(item.comments.length, 'Comment'), board_item_comments_path(@board, item))
                      
                    .col-sm-4                  
                      = link_to(pluralize(item.votes.length, 'vote'), board_item_votes_path(@board, item), title: item.votes_list, alt: item.votes_list)                      
                      &nbsp;
                      |
                      &nbsp;
                      = link_to('Vote', new_board_item_vote_path(@board, item))

                    .col-sm-4                  
                      = link_to('Edit', edit_board_item_path(@board, item))                    
                      &nbsp;
                      |
                      &nbsp;
                      = link_to('Delete', board_item_path(@board, item), method: :delete, data: {confirm: 'Are you sure you want to delete this item?'})


.row.buffer.thrice
.row.buffer.thrice
  .col-sm-12.center.buffer.thrice
    %p 
      Share this retrospective board using this link:
      = link_to(board_url(@board), @board)
    %p
      The password is: 
      = @board.password
    %p
      A link with the password included is:
      = link_to(board_url(@board, p: @board.password), @board)


.row.buffer.thrice
.row.buffer.thrice
  .col-sm-12.center.buffer.thrice
    %h4 Instructions
    %p 
      The goal here is to share feedback about what is working, what is not working, and what you are concerned about.
    %p
      This won't work unless everyone is honest with their feedback and that feedback is received well.
    %p
      Simply click the "Add Item" button in each column to add something.
    %p
      If you're not sure what to think about something, add it to the middle column.