.row
  .col-sm-12.col-md-6.center
    %h3
      = @board.name
      - if @board.group
        %span.small= "(#{link_to(@board.group.title, @board.group)})".html_safe
  .col-sm-12.col-md-6.center
    .buffer
      This retrospective will close in:
      .countdown{data: {time: @board.close_at.to_i * 1000}} &nbsp;

.row.buffer.thrice
  - ['good', 'meh', 'bad'].each do |column_grouping|
    - column_name = @board["#{column_grouping}_column_name"]
    
    .column.col-sm-12.col-md-4{class: column_grouping}
      .row
        .col-sm-12
          %h4.title= column_name
    
      .row.buffer
        .col-sm-12.center
          %p= @board["#{column_grouping}_column_description"] unless @board["#{column_grouping}_column_description"].blank?
          / = link_to('Add Item', new_board_item_path(@board, column_name: column_name), class: "btn btn-default #{column_grouping}-grad")
          %a.btn.btn-default.slidebutton{class: "#{column_grouping}-grad", data: {slideclosest: '.column', slidefind: '.inline-item-form'}} Add Item
          = render partial: 'items/inline_form', locals: {item: @board.items.new(user_name: @last_user_name, column_name: column_grouping)}
      .row
        .col-sm-12    
          = render @board.items.recent.for_column(column_name)
                

.row.buffer.thrice
.row.buffer.thrice
.row.buffer.thrice
  .col-sm-12.center.buffer.thrice
    %p 
      Share this retrospective board using this link:
      = link_to(board_url(@board), @board)
    %p
      The password is: 
      = @board.password
    %p
      A link with the password included is:
      = link_to(board_url(@board, p: @board.password), board_path(@board, p: @board.password))


.row.buffer.thrice
.row.buffer.thrice
  .col-sm-12.center.buffer.thrice
    %h4 Instructions
    %p 
      The goal here is to share feedback about what is working, what is not working, and what you are concerned about.
    %p
      This won't work unless everyone is honest with their feedback and that feedback is received well.
    %p
      Simply click the "Add Item" button in each column to add something.
    %p
      If you're not sure what to think about something, add it to the middle column.
      
.row.buffer.thrice
.row.buffer.thrice
.row.buffer.thrice
      