<p id="notice"><%= notice %></p>

<p>
  <strong>Good column name:</strong>
  <%= @board.good_column_name %>
</p>

<p>
  <strong>Bad column name:</strong>
  <%= @board.bad_column_name %>
</p>

<p>
  <strong>Meh column name:</strong>
  <%= @board.meh_column_name %>
</p>

<p>
  <strong>Close date:</strong>
  <%= @board.close_date %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
