.row.buffer.thrice 
  .col-sm-12.center
    = form_for([@board, @item]) do |f|
      - if @item.errors.any?
        #error_explanation
          %h2
            = pluralize(@item.errors.count, "error")
            prohibited this item from being saved:
          %ul
            - @item.errors.full_messages.each do |message|
              %li= message
      
      .field
        = f.label :title
        .wide-text
          = f.text_field :title
          = f.hidden_field :column_name
      
      .field.buffer.twice
        = f.label :user_name, 'Added By (Your Name)'
        .wide-text
          = f.text_field :user_name
      
      .actions.buffer.thrice
        = f.submit 'Save', class: 'btn btn-default'
        &nbsp; &nbsp;
        = link_to 'Cancel', @board, class: 'btn btn-default'