.row
  .col-sm-12.center
    = form_for([@board, item]) do |f|
      .field
        .wide-percentage-text
          = f.text_field :title, placeholder: 'Title', autofocus: true
          = f.hidden_field :column_name
      
      - if @item.new_record?
        .field.buffer
          .wide-percentage-text
            = f.text_area :comment, placeholder: 'Your Comments'
      
      .field.buffer
        = f.text_field :user_name, class: 'autocomplete', placeholder: 'Your Name', data: {autocomplete: @board.names}
        = f.submit 'Save', class: "btn btn-default #{item.column_name.downcase}-grad"
        %a.hide-inline-form.btn.btn-default Hide
