.row.item{id: "item-#{item.id}"}
  .col-sm-12.buffer.twice   
    .inner{class: "#{item.column_name}-grad"}
      %h6.center= link_to(item.title, board_item_path(@board, item), class: 'title-info')

      .row.center
        .col-sm-12
          .vote-info
            = render partial: 'items/votes_info', locals: {item: item}

      - unless item.comments.empty?
        .row.buffer
          .col-sm-12
            %p.small= truncate(item.comments.first.comment, length: 200)

      .row.small.center
        .col-sm-6
          %h7= "By #{item.user.blank? ? 'Anon' : item.user.name}"
        .col-sm-6.comment-info
          = render partial: 'items/comments_info', locals: {item: item}

      .row.small.center.buffer
        .col-sm-12                 
          = link_to('Edit', edit_board_item_path(@board, item))                    
          &nbsp;
          |
          &nbsp;
          = link_to('Delete', board_item_path(@board, item), method: :delete, data: {confirm: 'Are you sure you want to delete this item?'})
    
      = render partial: 'votes/inline_form', locals: {item: item, vote: item.votes.new(user_name: @last_user_name)}
        
        