.row
  .col-sm-12.center
    %h4
      Add A
      = @item.column_name.capitalize
      Item
      To The
      = @board.name
      Board
    %br
    %h5= @board["#{@item.column_name.downcase}_column_description"]
      
.row
  .col-sm-12.center
    = render 'form'

