%p#notice= notice

.row
  .col-sm-12.center
    %h2= link_to(@board.name, @board)

.row
  .col-sm-12.center
    %h3= @item.title
    %p 
      From The
      = @item.column_name.capitalize
      Column 
    %p
      - unless @item.user.blank?
        Added by
        = @item.user.name
      = time_ago_in_words(@item.created_at)
      ago
    %p
      = link_to 'Edit', edit_board_item_path(@board, @item)
      &nbsp; &nbsp; | &nbsp; &nbsp;
      = link_to 'Delete', board_item_path(@board, @item), method: :delete, data: {confirm: 'Are you sure you want to delete this item?'}
      
.row.buffer
  .col-sm-12.col-md-6.center 
    .row.buffer
      .col-sm-12.center
        = link_to('Add A Comment', new_board_item_comment_path(@board, @item), class: 'btn btn-default')

    .row
      .col-sm-12.col-md-offset-1.col-md-10
        - if @comments.empty?
          %p.center.buffer.thrice There are no comments for this item yet.

        = render @comments
        

  .col-sm-12.col-md-6.center    
    .row.buffer.col-sm-12
      = link_to('Vote Up This Item', new_board_item_vote_path(@board, @item), class: 'btn btn-default')

    .row.buffer.twice
      .col-sm-12.col-md-offset-1.col-md-10
        - if @votes.empty?
          %p.center.buffer.thrice There are no up votes for this item yet.
    
        = render @votes
          
