.row.buffer.thrice 
  .col-sm-12.center
    = form_for([@board, @item, @vote]) do |f|
      - if @vote.errors.any?
        #error_explanation
          %h2
            = pluralize(@vote.errors.count, "error")
            prohibited this comment from being saved:
          %ul
            - @vote.errors.full_messages.each do |message|
              %li= message
      .field
        = f.label :user_name, 'Your Name'
        .wide-text
          = f.text_field :user_name
      .actions.buffer.thrice
        = f.submit 'Save', class: 'btn btn-default'
        &nbsp; &nbsp;
        = link_to('Cancel', @board, class: 'btn btn-default')